########## Copyright C 2026 MIT Emad-ms ##########

# project: yuz-os builder
# project git : https://github.com/emad1234-msoudi/Yuz-OS.git
# gitignore files

###### build otputs ######

#-> iso file and build check files

*.iso
*.hybrid.iso
*.files
*.packages
*.contents

#-> chroot and binary files

chroot.packages.live
chroot.packages.install
chroot.files
binary.modified_timestamps  
 
#-> build dir

live-build/binary/
live-build/chroot/
live-build/log/
live-build/auto/
live-build/cache/
live-build/local/
live-build/.build/

build/

######  config files and otputs ######

#-> apps files

*.deb
*.Appimage

#-> config live build dir

#live-build/config/hooks/
live-build/config/preseed/

live-build/config/bootloaders/
live-build/config/debian-installer/

live-build/config/apt/
live-build/config/archives/

live-build/config/rootfs/

live-build/config/includes/
#live-build/config/includes.chroot/
live-build/config/includes.binary/
live-build/config/includes.bootstrap/
live-build/config/includes.source/
live-build/config/includes.installer/
live-build/config/includes.chroot_after_packages/
#live-build/config/includes.chroot_before_packages/

live-build/config/packages/
live-build/config/packages.binary/
#live-build/config/package-lists/
#live-build/config/packages.chroot/

#-> config live build files

live-build/config/binary
live-build/config/chroot
live-build/config/bootstrap

live-build/config/common
live-build/config/source

###### releas and build archive file  ######

archive/
back_up/
release/

###### other ignore file ######

git_key.txt
