########## Copyright C 2026 MIT Emad-ms ##########

# project: yuz-os builder
# project git : https://github.com/emad1234-msoudi/Yuz-OS.git
# gitignore files

#-> build /  otputs

*.iso
*.hybrid.iso
build/

#-> packages

*.deb
*.Appimage

#-> releas dir

archive/
back_up/
release/

#-> other

git_key.txt
